*{
    margin: 0px;
    padding: 0px;
    font-size: medium;
    max-width: 100%;


}
/* Add a black background color to the top navigation bar */

.topnav {
  
    background-color: #adb5bd4c;
    padding-top: 0rem;
    padding-bottom: 0rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
   

    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color:#0d6efd;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
     
   
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
.antialiased{
    
    padding-top: 3rem;
    padding-bottom: 2rem;
    
    display: flex;
    justify-content: center;
    

    
   
}

.blogs{
    width: 600px;
    

}
.blog{
    
    padding: 2rem;
    border-radius: 2%;


    margin-bottom: .5rem;
    
    border-bottom: solid 1px rgba(2, 2, 2, 0.22);
    border-radius: 0%;
    

}


button{
  display: none;
   
    color: rgb(0, 0, 0);
    padding: 5px;
    border: solid 1px rgba(128, 128, 128, 0.162);
    border-radius: 7px;
}
.edit{


  float: right;
  
  color: rgb(0, 0, 0);
  padding: 5px;
  border: solid 1px rgb(255, 255, 255)!important;
  border-radius: 7px;

}
textarea{

  margin-top: .5rem;
  width: 660px;
  height: 300px;
  text-align:justify;
  
}
i{
 color: #2196F3
}
.links{
  text-align:justify;
  
}
.register{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  

}
.form-control{
  width: 500px !important;
}
.regilabel{
  display: flex;
  text-align: justify;
  justify-content: center;
 align-items: center;

}
.alert{
  position: fixed!important;
  z-index: 1!important;
  bottom: 0!important;
  right: 0!important;
}
